/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.mat-mdc-form-field-required-marker,
.mat-mdc-form-field-required-marker::after {
    color: #ef4444 !important;
}
