<div class="mx-auto w-full ">
    <div class="relative flex flex-auto flex-col overflow-hidden rounded-2xl p-6 pb-3 pr-3 shadow min-h-[420px]">
        @if (transactions$ | async; as transactions) {

        <div class="text-3xl font-semibold leading-8 tracking-tight mb-2">
            Movimientos
        </div>

        @if (transactions.length === 0) {
        <app-empty-state title="No hay transacciones" description="Aún no se han registrado movimientos en tu cuenta.">
        </app-empty-state>

        } @else {
        <app-transactions-table [transactions]="transactions"></app-transactions-table>
        }
        } @else {
        <!-- Loading -->
        <div class="flex min-h-[320px] items-center justify-center">
            <app-loading></app-loading>
        </div>
        }
    </div>


</div>
